
[submodule "dependencies/soft_wafer_holder_system_controller"]
	path = dependencies/soft_wafer_holder_system_controller
	url = https://github.com/theionSami/soft_wafer_holder_system_controller.git
	branch = dev_win_api
[submodule "dependencies/soft_cnt_system_submodule_cpp"]
	path = dependencies/soft_cnt_system_submodule_cpp
	url = https://github.com/theionSami/soft_cnt_system_submodule_cpp.git
	branch = dev_win_api
[submodule "dependencies/soft_cooling_system_submodule_cpp"]
	path = dependencies/soft_cooling_system_submodule_cpp
	url = https://github.com/theionSami/soft_cooling_system_submodule_cpp.git
	branch = dev_win_api

[submodule "dependencies/soft_heating_system_submodule"]
	path = dependencies/soft_heating_system_submodule
	url = https://github.com/theionSami/soft_heating_system_submodule.git
